@import url('https://fonts.googleapis.com/css?family=Oswald');

/* colors */

@icon-color: #e9b540;
@body-text: #444444;
@link-color: @body-text;
@link-hover: #555555;
@label: @body-text;
@background: #f2f2f2;
@white: #ffffff;
@gray: #9e9e9e;
@link-color: #268FF7;

/* background-colors */

@background-gray: #F2F2F2;
@background-white: #FFFFFF;

@body-weight: 300;
@title-weight: 500;
@caption-weight: 200;
@profile-weight: @body-weight;
@super-bold-weight: 600;

@body-size: 12px;
@link-size: 15px;
@title-size: 16px;
@caption-size: @body-size;

/* breakpoints */

@mobile: ~"screen and (max-width: 450px)";
@more-than-800: ~"screen and (min-width: 800px)";
@less-than-800: ~"screen and (max-width: 800px)";

/* fonts */

@fontfamily: 'Oswald', sans-serif;
@fontfamily2: 'SF Compact Text', sans-serif;

@text-line-height: 32px;
@text-line-height-caption: 28px;

@h1-font-size: 32px;
@h1-font-size-mobile: 26px;

@section-text-width: 500px;

* {
   font-family: @fontfamily2;
}

body {
/*   background-color: rgb(247, 247, 247);*/
   background-color: #f2f2f2;
   padding: 0;
   margin: 0;
   color: @body-text;
}


h2 {
    font-size: 27px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: @fontfamily;
}

h3 {
   margin: 0;
   padding: 25px 0px 5px 0;
   font-weight: 400;
   clear: both;
}

h4 {  
    font-size: 50px;
    padding-top: 50px;
    color: #000;
    margin: 0;
    font-weight: 500;
    text-align: center;
}

p {
   font-family: @fontfamily2;
   font-size: 20px;
   text-align: center;
}

.highlight {
  width: 700px;
  margin: 0 auto;
}

/* New template CSS */

.section-padding() {
  padding: 200px 0;

  @media @mobile {
    padding: 100px 0;
  }
}

.paragraph-styles() {
  font-family: @fontfamily2;
  font-size: 20px;
  text-align: left;
  line-height: @text-line-height;

  @media @mobile {
    font-size: 17px;
    line-height: 28px;
  }
}

.width-one-thirds() {
  width: 33.33%;
  width: ~"calc(100% / 3)";
}

.full-bleed {
    max-width: 100%;
    padding-top: 40px;
  }

  img {
    max-width: 100%
  }

.main-wrapper {
  width: 100%;
  padding-bottom: 50px;

  .section {
    .section-padding;

    /* controls the odd/even section backgrounds */
    &:nth-child(odd) {
      background: @background-white;
    }

    &:nth-child(even) {
      background: @background-gray;
    }

    /* controls section text blocks */
    &-text {
      max-width: @section-text-width;
      margin: 0 auto;


      @media @mobile {
        padding: 0 25px;
      }

      .aspiration {
        text-align: center;
        padding-bottom: 20px;
      }


      p {
        .paragraph-styles;
      }

      .title {
        text-transform: uppercase;
        font-size: 50px;
        color: #000;
        line-height: 67px;
        font-family: oswald;
        font-weight: 400;
        letter-spacing: 1px;
        padding-bottom: 20px;
      }

      h1 {
        margin: 0;
        font-size: @h1-font-size;
        text-transform: uppercase;
        font-family: @fontfamily;
        letter-spacing: 2px;
        color: #000;

        @media @mobile {
          font-size: @h1-font-size-mobile;
        }
      }

      ul.list {
        float: unset;
        list-style: initial;
        margin-left: 20px;

        li {
          font-size: 20px;
          display: list-item;
          text-transform: initial;
          letter-spacing: initial;
          line-height: @text-line-height;
          padding: 5px;
          font-family: @fontfamily2;
        }

        padding-bottom: 40px;
        padding-top: 10px;

        @media @mobile {
          padding-bottom: 40px;
          padding-top: 15px;
        }
      }
    }

    &-wide-content {
      z-index: 1;
      padding-top: 30px;
      max-width: 800px;
      margin: 0 auto;

      @media @more-than-800 {
        &.double-image {
          display: flex;
          align-items: flex-start;

          .double-image-container {
            flex: 50%;
            width: 50%;
            max-width: unset;
            box-sizing: border-box;

            img {
              width: 100%;
            }

            /* evenly space padding on sections */

            &:nth-child(1) {
              padding-right: 10px;
            }
            &:nth-child(2) {
              padding-left: 10px;
            }
          }
        }

        &.triple-image {
          display: flex;
          align-items: flex-start;

          .triple-image-container {
            .width-one-thirds;

            max-width: unset;
            box-sizing: border-box;

            img {
              width: 100%;
            }

            /* evenly space padding on sections */
            padding-left: 20px;
          }
        }
      }

      @media @less-than-800 {
        max-width: 100%;
        padding-top: 14px;

        &.double-image {
          img {
            padding-bottom: 14px;
          }
        }
      }

      img {
        max-width: 800px;
        margin: 0 auto;
        display: block;

        @media @less-than-800 {
          max-width: 100%;
        }

        @media @mobile {
          padding: 0 25px;
          box-sizing: border-box;    
        }
      }
    }

      .mini-caption {
        font-size: 14px;
        line-height: 16px;
        font-style: italic;
        margin: 0 auto;
        text-align: center;
        padding: 20px 25px;
      }

    .caption {
      text-align: center;
      padding: 20px;
      line-height: @text-line-height-caption;
      font-family: @fontfamily2;
      max-width: @section-text-width;
      margin: 0 auto;
      font-size: 18px;

      .header {
        font-weight: 700;
        font-size: 22px;
        padding-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #000;
        font-family: @fontfamily;
      }

      @media @mobile {
        padding: 5px 25px 40px 25px;
      }
    }
  

    .quote {
      text-align: center;
      font-size: 32px;
      line-height: 45px;
      padding: 50px 0;
      font-family: @fontfamily2;

      &-line {
        width: 30px;
        margin: 0 auto;

        &.top {
          padding-bottom: 35px;
          border-top: 1px solid black;
        }

        &.bottom {
          padding-top: 35px;
          border-bottom: 1px solid black;
        }
      }

      @media @mobile {
        font-size: 22px;
        line-height: @text-line-height;
        padding: 30px 25px;
        box-sizing: border-box;      
      }
    }
  }

  .profile-image {
    width: 100%;
    padding-top: 130px;

    img {
      border-radius: 60%;
      width: 190px;
      height: 190px;
      margin: 0 auto;
      display: block;
    }

    @media @less-than-800 {
      padding-top: 110px;
    }
  }

  .profile-text {
    font-size: 30px;
    font-family: @fontfamily2;
    margin: 0 auto;
    display: block;
    margin-top: 70px;
    width: 500px;

    @media @less-than-800 {
      font-size: 21px;
      line-height: 32px;
      margin-top: 60px;
    }

  }

  .profile-page {
    width: 580px;
    margin: 0 auto;

    @media @less-than-800 {
      width: 100%;
      padding: 0 30px;
      box-sizing: border-box;
    }

    h1 {
      margin: 80px 0 25px 0;
      font-size: 24px;

      @media @mobile {
        font-size: 22px;
        margin: 60px 0 25px 0;
      }
    }

    h2 {
      margin: 20px 0 10px 0;
      font-size: 18px;
      padding: 0;
      font-family: @fontfamily2;
      text-transform: capitalize;
      letter-spacing: 0px;

      @media @mobile {
        font-size: 18px;
      }
    }

    p {
      .paragraph-styles;
      font-family: @fontfamily2;
      font-size: 18px;
      line-height: 26px;
      margin: 0px 0 40px 0;

      @media @less-than-800 {
        font-size: 16px;
      }
    }

    .resume-link {
      .paragraph-styles;
      color: @link-color;
      border-bottom: 1px solid @link-color;
    }

    button {
      text-align: center;
      padding: 20px;
      font-size: 18px;
      background-color: white;
      border-color: @link-color;
      margin: 0 auto;
      display: block;
      color: @link-color;

      &:hover {
        cursor: pointer;
        background-color: @link-color;
        color: @white;
      }
    }
  }
}

/* end new template CSS */

.iama {
    font-size: 40px;
    text-align: left;
    margin-bottom: 20px;
}

#iama {
    font-size: 40px;
    color: #268FF7;
    font-weight: bold;
}

.iamawrap {
    width: 500px;
    padding-left: 30px;
    margin: auto;
}

.job-title {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
}

.profile {
    text-align: left;
}

a {
   text-decoration: none;
   color: @body-text;
   &:hover {
      color: #268FF7;
   }
}

.clear {
   clear: both;
}

.problem {
    color: #ff333A;
}

.solution {
    color: #00B061;
}

.feature {
    color: #1715F0;
}

.space {
   margin-top: 45px;
   width: 100%;
   background-color: #f2f2f2;
}
 
.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    font-family: @fontfamily2;
    background-color: @white;
    padding: 0px 0px 0px 30px;
    z-index: 999;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
    color: @body-text;
    font-weight: @body-weight;
    font-size: @body-size;
    line-height: 20px;
    h1 {
     text-transform: uppercase;
     font-size: 16px;
     width: 120px;
     float: left;
     margin: 0;
     line-height: 45px;
     padding: 0;
     letter-spacing: 0.5px;
    }
}

.nav-wrapper {
   width: 95%;
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
   float: left;
   li {
      display: inline;
      // text-transform: uppercase;
      padding: 12px;
      font-size: 16px;
      // letter-spacing: 0.5px;
      line-height: 45px;
      div {
         display: inline-block;
         height: 43px;
      }
   }
}

.activeState li div {
   border-bottom: 2px solid #9e9e9e;
}

.links {
   padding-top: 45px;
   float: left;
   width: 313px;
   ul {
      list-style: none;
      padding: 0;
      margin: 0;
      color: @link-color;
      font-weight: @body-weight;
      font-size: @link-size;
   }

   a {
      font-size: 13px;
      line-height: 40px;
      display: block;
      background-color: @white;
      padding: 5px 30px 5px 10px;
      opacity: 1;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
         &:hover {
            opacity: 0.5;
         }
      span {
         margin-left: 20px;
      }
   }
}

.link {
   width: 313px;
   height: 80px;
   margin: 10px auto;
   a {
   opacity: 1;
   transition: opacity .2s ease-in-out;
   -moz-transition: opacity .2s ease-in-out;
   -webkit-transition: opacity .2s ease-in-out;
   &:hover {
      opacity: 0.6;
      }
   }
   .buttons {
      border: 1px solid #268FF7;
      color: #000;
      border-radius: 0px;
      padding: 12px 18px;
      float: left;
      font-size: 13px;
      margin-right: 15px;
      margin-top: 10px;
      display: block;
   }
}

.padding {
   padding-top: 40px;
}

.wrap {
    padding-top: 0px;
    background: #ffffff;
}

.container {
   background-color: #fff;
   max-width: 1000px;
   margin: 10px auto;
}


.finance-bg {
    background-color: #5E626A;
}

.taj-bg {
    background-color: #D1D3D5;
}

.recommends-bg {
    background-color: #E1E3E4;
}

.wrapper {
   padding-top: 45px;
/*   background-color: #f2f2f2;*/

    .box {
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
        transition-property: box-shadow, transform;
        -webkit-transform: perspective(1px) translateZ(0);
        -webkit-transition-property: box-shadow, transform;
        -webkit-transition-duration: 0.3s;
        &:hover {
        transform: scale(0.97);
        }  

        .content {
            height: 290px;
        }

      .finance {
         background: url("./../images/finance/finance-front.png") no-repeat center;
         background-size: contain;
         height: 100%;
      }
      .charts {
         background: url("./../images/charts/front-chart.png") no-repeat center;
         background-size: cover;
      }
      .fresh {
         background: url("./../images/fresh/tile-color.png") no-repeat center;
         background-size: cover;
      }
      .recommends {
         background: url("./../images/recommends/recommends-front.png") no-repeat center;
         background-size: contain;
         height: 100%;
      }
      .magazines {
         background: url("./../images/magazines/tile.png") no-repeat center;
         background-size: cover;
      }
      .twitch {
         background: url("./../images/twitch/twitch-front.png") no-repeat center;
         background-size: cover;
      }
      .explore {
         background: url("./../images/explore/explore-front.png") no-repeat center;
         background-size: cover;
      }
      .taj-mahal {
        background: url("./../images/dropbox/app-actions.gif") no-repeat center;
        background-size: contain;
        height: 100%;
      }

      .card {
         background-color: @white;
         .text {
            padding: 20px 25px 25px;
            project {   
                font-family: @fontfamily2;
                font-weight: 500;
                font-size: 21px;
                color: @label;
                width: 100%;
                display: block;
                padding-bottom: 7px;
            }
            subcaption {
               font-size: 17px;
               width: 100%;
               color: @label;
            }
         }
      }
   }
}

.previousnext {
   float: right;
   font-size: 14px;
   margin-top: 8px;
   text-transform: uppercase;
   .previous {
      margin-right: 5px;
      &:hover {
         opacity: 0.4;
      }
   }
   .next {
      &:hover {
         opacity: 0.4;
      }
   }
}

.internal-wrapper {
    padding-top: 45px;
    max-width: 1000px;
    margin: auto;
    h1 {
      font-size: 23px;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: center;
      margin-top: 60px;
      &.title {
         font-size: 32px;
         font-weight: bold;
         text-align: center;
         border: 2px solid #000;
      }
   }
}

.product-info {
   width: 100%;
   margin-bottom: 40px;
   box-sizing: border-box;
   h1 {
      margin-top: 0;
   }
}

.responsive-image {
   width: 100%;
   background-color: @white;
   margin-bottom: 30px;
}

.responsive-gif {
   width: 100%;
   margin-bottom: 0px;
}

.float {
   float: left;
}

.placeholder {
   background-color: #fff;
   height: 350px;
   width: 100%;
   margin-bottom: 20px;
   h3 {
      margin: 0px auto;
      text-align: center;
      padding-top: 150px;
      color: #ff333A;
      font-size: 40px;
      padding-left: 20px;
      padding-right: 20px;
   }
}

.flex-layout {
   padding: 10px;
   display: flex;
   flex-flow: row;
   flex-wrap: wrap;
}

.flex-cell {
   box-sizing: border-box;
   padding: 10px; 
   flex: 1 1 50%;
   min-width: 50%;
}





// responsive media queries

@media (min-width: 1801px) {

  .flex-cell {
      min-width: 33%;
      flex: 1 1 33%;
   }
   .wrapper {
      .box {
         .content {
            height: 450px;
         }
      }
   }

   .internal-wrapper {
      width: 1200px;
   }
}

@media (max-width: 1800px) {
   .wrapper {
      .box {
         .content {
            height: 400px;
         }
      }
   }
}

@media (max-width: 850px) {
   .wrapper {
      .box {
         .content {
            height: 270px;
         }
      }
   }
}

@media (max-width: 750px) {
   .flex-cell {
      min-width: 100%;
      flex: 1 1 100%;
   }

   .wrapper {
      .box {
         .content {
            height: 400px;
         }
      }
   }
}


@media (max-width: 530px) {

   .flex-layout {
      padding: 0;
   }

   .flex-cell {
      min-width: 100%;
      padding: 0;
      flex: 1 1 100%;
   }

    .wrapper {
        padding-top: 25px;
        margin-top: 40px;
            .box {
            margin: 0 auto 20px;
            float: none;
            .content {
            height: 250px;
             }
        }
    }

    .link {
      width: 313px;
    }

   .nav-wrapper {
      width: 91%;
      h1 {
         margin-left: -10px;
      }
   }

    .container {
      img {
         width: 100%;
      }
    }

    .skills {
      img {
         width: 100%;
      }
    }

    .internal-wrapper {
      padding-top: 45px;
      width: 100%;
       h1 { 
          font-size: 19px;
          padding-left: 15px;
          margin-top: 20px;
       }
       p {
         padding-left: 15px;
         padding-right: 15px;
      }
   }

   h4 {
      font-size: 40px;
      padding-top: 40px;
   }

   .iama {
    font-size: 20px;
   }

   #iama {
    font-size: 20px;
   }

   .iamawrap {
    width: 300px;
   }

   .space {
       margin-top: 70px;
   }

   .wrap {
      height: 130px;
   }

   .responsive-image {
      margin-bottom: 10px;
   }
}
